.about {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -500px;
    right: -300px;
    width: 1293.88px;
    height: 1293.88px;
    background: #64d370;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.4);
    border-radius: 50%;
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -150px;
    right: 630px;
    width: 219.07px;
    height: 219.07px;
    border: 20px solid rgba(38, 240, 58, 0.1);
    border-radius: 50%;
    z-index: -3;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
  }

  &__info {
    width: 526px;
  }

  &__info_title {
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #020202;
    padding-bottom: 10px;

    span {
      color: #64d370;
    }
  }

  &__img {
    width: 500px;
    height: auto;
  }

  &__info_text {
    font-family: "Comfortaa";
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    color: #020202;
    padding-top: 20px;
  }

  &__info_subtitle {
    padding-top: 40px;
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #020202;
  }
}

@media (max-width: 1800px) {
  .about__pic {
    width: 647px;
  }
  .about::before {
    top: -650px;
    right: -439px;
  }
  .about::after {
    display: none;
  }
}

@media (max-width: 1450px) {
  .about {
    &__img,
    &__pic {
      width: 500px;
    }

    &__info {
      width: 50%;
    }

    &__info_title {
      font-size: 26px;
    }

    &__info_text {
      font-size: 20px;
      padding-top: 15px;
    }

    &__info_subtitle {
      padding-top: 20px;
    }

    &::before {
      width: 765.32px;
      height: 765.32px;
      top: -335px;
      right: -159px;
    }
  }
}

@media (max-width: 1300px) {
  .about {
    .container {
      width: 90%;
    }
  }
}

@media (max-width: 1100px) {
  .about {


    &__info {
      width: 50%;
    }

    &__info_title {
      font-size: 22px;
    }

    &__info_text {
      font-size: 16px;
      padding-top: 8px;
    }

    &__info_subtitle {
      padding-top: 16px;
      font-size: 18px;
    }

    &::before {
      width: 765.32px;
      height: 765.32px;
      top: -375px;
      right: -159px;
    }
  }
}

@media (max-width: 1000px) {
  .about {
    .container {
      flex-direction: column-reverse;
    }

    &__img {
      width: 100%;
    }

    &::before {
      top: -441px;
      right: -144px;
      width: 600px;
      height: 600px;
    }

    &__info {
      width: 80%;
    }

    &__img {
      width: 50%;
    }

  }

}

@media (max-width: 900px) {
  .about {
    .container {
      width: 97%;
      padding: 0;
    }
  }
}

@media (max-width: 500px) {
  .about {
    &__info_title {
      font-size: 20px;
      padding-bottom: 0;
    }

    &__info_text {
      font-size: 16px;
    }

    &__info_subtitle {
      font-size: 20px;
    }
  }
}